<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      <h1>COMICS DEL MUNDO Y SU AUTOR</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <H2 style="text-align: center ;">ELIGE UNA OPCIÓN DEBAJO </H2>
  <p><img src="../../assets/hulk.jpg" alt="Imagen Principal"></p>
  </ion-content>
<ion-card>
<h2><b>
  Marvel Comics nació en 1939 como una editorial de cómics de superhéroes fundada por Martin Goodman,
   que entonces tenía 31 años. En un primer momento, se trataba de un proyecto secundario del emprendedor, 
   que ya tenía otra editorial especializada en novelas ambientadas en el oeste americano.
  </b>
</h2>


</ion-card>
